

.line-cont0{
  display: flex;
  justify-content: space-between;
}

.line-cont0 div{
  display: flex;
  gap: 30px;
}

.grey {
  background-color: rgb(187, 187, 187);
}

.white {
  background-color: white;
}

